<% provide(:title, 'All Spots') %>
<h1 class="page-header">Spots <small>All</small>
<%= link_to raw('<i class="icon-plus icon-white"></i>   New spot'), new_spot_path, class: "btn btn-large btn-primary floatright" %>
</h1>
<div class="row">
	<div class="span12">
		<div class="row">
			
		</div>
		<div class="row">
			<%= will_paginate %>
  				<%= render @spots %>
			<%= will_paginate %>
		</div>
	</div>
</div>