<%@user.reviews.each do |r| %>
<li class="review">
	<div class="row">
		<aside class="span2 user">
			<span class="timestamp">
	    	<%= time_ago_in_words(r.created_at).capitalize%> ago.
	  	</span>
	  	<span class="del">
	  		<% if current_user?(r.user) || current_user.admin? %>
	    		<%= link_to "delete", r, method:  :delete,
	                                     confirm: "You sure?",
	                                     title:   r.content %>
	  		<% end %>
	  	</span>
		</aside>
		<section>
			<span class="content"><%= r.content %></span>
		</section>
	</div>
</li>
<% end %>