<%@user.reviews.each do |review| %>
<li class="review">
	<div class="row">
		<aside class="span2">
			<span class="timestamp">
	    	<%= time_ago_in_words(review.created_at).capitalize%> ago.
	  	</span>
	  	<span class="del">
	  		<% if current_user?(review.user) || current_user.admin? %>
	    		<%= link_to "delete", review, method:  :delete,
	                                     confirm: "You sure?",
	                                     title:   review.content %>
	  		<% end %>
	  	</span>
		</aside>
		<section>
			<span class="content"><%= review.content %></span>
		</section>
	</div>
</li>
<% end %>