// Place all the styles related to the spotLike controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#like_form{
  display:inline;
  .new_like, .edit_like{
    width:100px; 
    display:inline;
    .btn{
    	margin-top:15px;
    }
  }
}