// Place all the styles related to the spotLike controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow_form{
  display:inline;
  .new_relationship, .edit_relationship{
    width:100px; 
    display:inline;
    .btn{
    	margin-top:15px;
    }
  }
}