// Place all the styles related to the Spot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

/* reviews */

.reviews {
  list-style: none;
  margin: 0;
  .review {
    padding: 10px;
    border-bottom:1px solid $grayLighter;
    aside.user{
      border-right:1px solid #e8e8e8;
      width:120px;
      display:block;
      overflow:auto;
      span{
        display:block;
      }
      .userpic{
        display:block;
        overflow:auto;
        width:100%;
        .gravatar {
  				float: left;
  				margin-right: 10px;
				}
      }
      .timestamp {
  			color: $grayLight;
 				font-size:0.9em;
 				padding-right:5px;
			}
    }
    section{
      padding-left:10px;
      margin-left:0;
    }
    aside.votes{
      margin:0;
      padding:0;
      padding-left:18px;
      border-left:1px solid $grayLighter;
      width:100px;
      .span2{
        width:100px;
        margin-left:0;
      }
      form{
        margin:5px;
      }
    }
  }
}

.new_review {
  textarea {
    height: 100px;
  }
  .content{
    width:83%;
    margin-bottom: 10px;
    margin-top:10px;
    float:left;
    marign-right:10px;
  }
  .butt{
    width:100px;
    clear:both;
    display:inline;
    padding-left:20px;
  }
  .btn{
    width:100px;
    margin-bottom: 5px;
    margin-top:10px;
  }
}