// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom";

/* users index */

.users {
  list-style: none;
  margin: 10px 0 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $grayLighter;
  }
}

/* Stats on the sidebar */
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.span4{
  .well{
    padding:7.5px 14px;
    .user{
      float:left;
      margin-right:10px;
      margin-bottom:7px;
      .thumbnail{
        float:left;
        margin-bottom:10px;
        .gravatar {
          clear:both;
          margin: 0;
          padding:0;
        }
      }
      .button{
        clear:both;
        *{
          width:90px;
        }
      }
      form{
        margin-top:0;
      }
    }
    dl{
    margin:0;
    }
  }
  a{
    color:$gray;
  }
  a:hover{
    text-decoration:none;
    color:$blue;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.follow_form .new_relationship .btn, .follow_form .edit_relationship .btn {
  margin-top:2px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}

.follows{
  div{
    margin-left:0;
    margin-right:14px;
  }
}